* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    height: 70vh;
    background-image: url(netflixbg.jpg);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.sepretion {
    background-color: rgb(70, 69, 69);
    height: 7px;
    margin: auto;
}

.btn {
    padding: 11px 15px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin: 7px;
}

.btn-red {
    background-color: red;
    padding: 9px 35px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    border: none;
    font-weight: 900;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: none;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(239, 236, 236, 0.5);
}



.herobtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.tv-container {
    position: relative;
    width: 700px;
}

.tv-image {
    width: 100%;
    display: block;
}

.tv-video {
    position: absolute;
    top: 19%;
    left: 12.2%;
    width: 75%;
    height: 58%;
    object-fit: cover;
    border-radius: 4px;
}

.second {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pare {
    font-size: 29px;
}

.tv {
    position: relative;
    width: 800px;
    margin: auto;
}

.tv-frame {
    width: 100%;
    display: block
}


.tv-video {
    position: absolute;
    top: 20.5%;
    left: 13.06%;
    width: 73%;
    height: 55%;
    object-fit: cover;
    border-radius: 2px;
}

.fnq h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fnq {
    background: black;
    color: white;
    padding: 44px;
    font-size: 24px;

}

.fnqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 16px;
    max-width: 40vw;
    margin: 25px auto;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}