*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: border-box;
}

body{
    height: 100vh;
}

.navber{
    height: 60px;
    background: #0f1111;
    width: 100%;
    color: white;
    display: flex;
    align-content: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
   
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
    padding: 0px 12px;
}

.navadd{
    padding: 17px 34px;
}

.addd1{
    font-size: 11px;
    color: #cccccc;
}

.addd2{
    font-size: 14px;
}

.search{
    display: flex;
    align-items: center;
}

.search select{
    padding: 7px;
    border-radius: 2px;
    border: 1px solid white;
}

.search input{
    padding: 7px;
    width: 51vw;
    border-radius: 2px;
    border: 1px solid white;
}

.lang{
    display: flex;
    align-items: center;
    margin: 0px 34px;
    font-weight: 700;
    
}

.account{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.return{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 27px;
}

.carts{
    display: flex;
    align-items: center;
}

.box-panel{
    display: flex;
    gap: 23px;
    background-color: #2b3030;
    color: white;
    height: 50px;
    cursor: pointer;
}

.panel{
    display: flex;
    align-items: center;
     margin: 0px 0px 0px 22px;
}

.panel1{
  display: flex;
  align-items: center;
 
}

.panel1 ul{
    display: flex;
    align-items: center ;
    gap: 23px;
    list-style: none;
    
}




.hero{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.herotext{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 375px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px 15px;
}


.box1img{
    
    height: 320px;
    background-size: cover;
    border-radius: 3px;
}

.bba{
    margin-left: 10px;
    margin-right: 10px;
}

.footpanle1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c4949;
    margin-top: 50px;
   color: white;
}

.footpanel2{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    background-color: #323e45;
}

.footp2{
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
}

.footp2 a{
    text-decoration: none;
    color: white;
}

.footpanel3{
    height: 50vh;
    background-color: #151b1b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footp3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footp3 a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.footend{
    background-color: #151b1b;
    height: 70px;
    color: white;
}

.theend{
  text-align: center;
  
}

.thisend{
    text-align: center;
}